body {
  background-color: #141414;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}


/* @media screen and (max-width: 767px) { */
  
 .popular-container {

    width: 100%;
    padding: 0px !important;
 }

 .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #0e0e0e;
  color: white;
  text-align: center;
}

.footer .footerText {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 16px;
}

.footer .footerText span {

  font-size: 16px;
  font-weight: 500;
  color: #6ac045;
  margin-bottom: 2px;

}

/* } */